.navbar {
	background-color: #03A9F4;
	border-color: #03A9F4;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-inverse .navbar-brand {
	color: #424242;
}

.navbar-inverse .navbar-nav>li>a {
	color: #424242;
}
