<!DOCTYPE html>
<html lang="en">
<head>
  <title>Build-A-PC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://rawgit.com/kaztecian/TestApp/master/static/css/aboutpage.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Kaz</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Download</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container-fluid text-center">
    <h1>About</h1> 
    <div class="container-1">
        <div class="col-md-4 text-center">     
            <p>This tool was designed to assist with the PC building process.
            From knowing which hardware component is compatible with each other to budgeting your new PC. It can be a lot juggle. 
            <p>This tool will help you streamline your PC building process by combining component compatibility and budget into one, easy-to-use tool.</p>
        </div>
    </div>
  </div>
</div>
<footer class="container-fluid text-center">
  <p>© Kaztecian 2018</p>
</footer>

</body>
</html>